// 输入框
@mixin chat-input() {
  .chat-input-area {
    background-color: var(--s4u-bg) !important;
    box-shadow:
      0 -2px 0 0 var(--s4u-textSoft),
      0 -6px 0 0 white,
      0 -8px 0 0 var(--s4u-textSoft);

    // 表情panel
    .expression-panel {
    }

    // 工具列表
    .chat-func-bar {
      // 左侧（表情、截图等）
      .func-bar:nth-child(1) {
        .bar-icon {
        }
      }

      // 右侧（聊天记录）
      .func-bar:nth-child(2) {
        .bar-icon {
        }
      }
    }

    // 文字输入区域
    .msg-input {
      .qq-editor {
        .ck-editor__main {
          --qq-editor-placeholder: '敲击字母键输入回复内容';

          // 编辑器内容
          caret-color: black;
          color: var(--s4u-text);

          p {
            font-size: 20px;
          }

          .editor-el__at {
            font-size: 20px !important;
          }

          .ck-content {
            // 编辑富文本时会出现 msg-qqface/msg-img/msg-reply 等元素
          }
        }
      }
    }

    // 操作按钮（发送、关闭）
    .operation {
      .send-btn-wrap {
      }
    }

    // 转发操作菜单（逐条、合并转发等）
    .forward-ops {
      color: var(--s4u-text) !important;
      background-color: var(--s4u-bg) !important;

      .q-button {
        background-color: var(--s4u-bgSoft) !important;
      }
    }
  }
}
