@use './sidebar' as *;
@use './recent-contact' as *;
@use './chat-header' as *;
@use './chat-msg' as *;
@use './chat-input' as *;
@use './group-box' as *;
@use './context-menu' as *;
@use './contact' as *;

:root {
  --s4u-bg: #f6f3ec;
  --s4u-bgSoft: #e8e1d8;
  --s4u-text: #4f4e48;
  --s4u-textSoft: #a69884;
  --s4u-link: #3266c0;
}

@font-face {
  font-family: fusionPixel;
  src: var(--s4u-font-fusion-pixel);
}

@mixin main() {
  body {
    font-family: 'Fusion Pixel 12px Monospaced zh_hans Regular', sans-serif;

    // font-family: 'fusionPixel', sans-serif;
    cursor: var(--s4u-cursor), auto;
  }

  #app {
    // 左边栏
    @include sidebar;

    // 会话列表
    @include recent-contact;

    // 聊天顶栏
    @include chat-header;

    // 聊天内容
    @include chat-msg;

    // 编辑器
    @include chat-input;

    // 群公告、群成员
    @include group-box;

    // 联系人页面
    @include contact;

    .qq-logo,
    .q-svg-icon {
      color: var(--s4u-textSoft) !important;
    }

    // 壁纸
    .ad-wrapper {
      background-color: var(--s4u-bg);
    }
  }

  // 右键菜单
  @include context-menu;
}

@media (prefers-color-scheme: light) {
  // 此处可引入日间配色
  @include main;
}

@media (prefers-color-scheme: dark) {
  // 此处可引入夜间配色
  @include main;
}
