@mixin demo() {
  span {
    background-clip: border-box;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 1.03em;
    background-image: linear-gradient(90deg, #ffae00 0%, #ff2fba 100%, #fff);
  }
}

@media (prefers-color-scheme: light) {
  @include demo;
}

@media (prefers-color-scheme: dark) {
  @include demo;
}
